* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  background-image: url(./assets/bgImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item img {
  height: 450px;
  width: 100%;
}

.navbar {
  background-color: line;
}
._Carousel {
  width: 100%;
}
.bglogo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.custom-card2 {
  transition: transform 0.2s; /* Add a smooth transition */
}

.custom-card2:hover {
  transform: scale(1.05); /* Increase the size on hover */
  background-color: rgb(244, 239, 247);
}
/* Resources.css */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

/* Resources.css */

@keyframes fade-in2 {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in2 {
  animation: fadeIn 1s ease-out;
}
@media only screen and (max-width: 600px) {
  .nextStep {
    position: relative;
    right: 240px;
    width: 100%;
  }
}
